<h3><%= @player.name %>, You chose <%= @game.current_move %></h3>
<br>
<h3>The computer chose <%= @game.computers_move %></h3>
<h1> You <%= @game.results %></h1>
<br>
<br>
<h2>Play again!</h2>
<form action="move" method="post" >
<% Game::MOVE_LIST.each do |move| %>
  <%= "<input type='submit' name='chosen_move' value='#{move}'>" %>
<% end %>
</form>
<br>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Rock_Paper_Scissors_Lizard_Spock_en.svg/400px-Rock_Paper_Scissors_Lizard_Spock_en.svg.png" />
